absl-py==2.4.0
annotated-doc==0.0.4
annotated-types==0.7.0
antlr4-python3-runtime==4.9.3
anyio==4.12.1
asttokens==3.0.1
certifi==2026.2.25
charset-normalizer==3.4.5
contourpy==1.3.2
cycler==0.12.1
decorator==5.2.1
exceptiongroup==1.3.1
executing==2.2.1
fastapi==0.135.1
filelock==3.25.2
fonttools==4.62.1
fsspec==2026.2.0
grpcio==1.78.0
hydra-core==1.3.2
idna==3.11
ipython==8.38.0
jedi==0.19.2
jinja2==3.1.6
kiwisolver==1.5.0
markdown==3.10.2
markupsafe==3.0.3
matplotlib==3.10.8
matplotlib-inline==0.2.1
mpmath==1.3.0
networkx==3.4.2
numpy==1.26.4
omegaconf==2.3.0
opencv-python==4.11.0.86
packaging==26.0
pandas==2.3.3
parso==0.8.6
pexpect==4.9.0
pillow==12.1.1
polars==1.39.0
polars-runtime-32==1.39.0
prompt-toolkit==3.0.52
protobuf==7.34.0
psutil==7.2.2
ptyprocess==0.7.0
pure-eval==0.2.3
py-cpuinfo==9.0.0
pydantic==2.12.5
pydantic-core==2.41.5
pygments==2.19.2
pyparsing==3.3.2
python-dateutil==2.9.0.post0
pytz==2026.1.post1
pyyaml==6.0.3
requests==2.32.5
scipy==1.15.3
seaborn==0.13.2
sentry-sdk==2.54.0
setuptools==81.0.0
six==1.17.0
stack-data==0.6.3
starlette==0.52.1
sympy==1.14.0
tensorboard==2.20.0
tensorboard-data-server==0.7.2
thop==0.1.1.post2209072238
torch==2.4.0
torchvision==0.19.0
tqdm==4.67.3
traitlets==5.14.3
typing-extensions==4.15.0
typing-inspection==0.4.2
tzdata==2025.3
ultralytics==8.4.22
ultralytics-thop==2.0.18
urllib3==2.6.3
wcwidth==0.6.0
werkzeug==3.1.6
